$light-red:               #D2302D;
$red:                     #b41119;
$dark-red:                #9C1219;
$light-grey:              #F1F1F2;
$grey:                    #BBBDC0;
$dark-grey:               #808284;
$white:                   #ffffff;

$dp-background:           #337ab7;
$dp-text-color:           #ffffff;
$dp-text-hover:           #ffffff;
$dp-text-current:         #31708f;
$dp-text-weekend:         #c7c7c7;
$dp-text-unselectable:    #c7c7c7;
$dp-border:               #2568a0;
$dp-background-th:        #2568a0;
$dp-background-hover:     #2568a0;
$dp-background-current:   #ffffff;

$main-background:         $light-grey;
$font-color:              $dark-grey;
$link-focus:              $red;
$separator-border-color:  $grey;
$main-border:             $grey;
$main-shadow:             $dark-grey;
